<div class="index-container">
  <h1 class="">Articles : </h1>
  <ul>
    <% @articles.each do |article| %>
      <li> <%= link_to article.title, article_path(article) %> </li>
    <% end %>
  </ul>
</div>
