// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container {
  display: flex;
  justify-content: center;
}

.show-container {
  margin-left: 350px;
  margin-right: 350px;
}

.show-center {
  display: flex;
  justify-content: center;
}


h1{
  margin-right: 20px;
}

ul{
  list-style: none;
  margin-left: 10px;
}

li{
  margin: 20px;
  padding: 10px;
  border: 1px solid red;
}

a {
  text-decoration: none;
  color: grey;
}

p {
  padding: 10px;
  border: 1px solid red;
}
